<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta charset="utf-8">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@elishaterada">
    <meta name="twitter:title" content="PokéTactics">
    <meta name="twitter:description" content="PokéTactics supports trainers during Pokémon battle with quick access to key information and opponent team visualization.">
    <meta name="twitter:creator" content="@elishaterada">
    <!--
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    -->
    <meta property="og:title" content="PokéTactics" />
    <meta property="og:type" content="website" />
    <!--
    <meta property="og:url" content="http://bit.ly/PokeTactics" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    -->
    <meta property="og:description" content="PokéTactics supports trainers during Pokémon battle with quick access to key information and opponent team visualization.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <!-- Chosen CSS -->
    <link href="assets/chosen/chosen.min.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- jQuery must be included before AngularJS so that AngularJS will automatically replace jqLite by jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="assets/chosen/chosen.jquery.min.js"></script>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
              ng-click="menuCollapsed = ! menuCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
              <a href="/" title="{{ config.appName }}">{{ config.appName }}</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
              <li ui-sref-active="active">
                <a href ui-sref="about">
                  About
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container main" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://twitter.com/elishaterada"><i class="fa fa-twitter fa-sm"></i></a></li>
            <li><a target="_blank" href="http://github.com/elishaterada"><i class="fa fa-github fa-sm"></i></a></li>
          </ul>
          <p>
            &copy; 2015 <a href="http://elishaterada.com/">Elisha Terada</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
