<div class="pokemon-list-item-detail">
    <div class="row data-section">
        <div class="col-sm-3">
            <div class="vertical-align img-pokemon-wrapper">
                <div class="vertical-align-middle">
                    <img ng-src="{{ config.pokeSpritesSource + pokemonGetPokemonData(pokemonList.detail).species + '.gif' | lowercase }}" class="img-pokemon">
                </div>
            </div>
            <div class="pokemon-item data-section">
                <select chosen id="pokemon-{{pokemonList.detail}}-item" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].item" ng-options="key as value.name for (key, value) in pokemonDB.items" data-placeholder="Item"></select>
            </div>
            <div class="pokemon-status data-section">
                <select chosen id="pokemon-{{pokemonList.detail}}-status" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].status" ng-options="key as value for (key, value) in pokemonDB.statuses" data-placeholder="Status"></select>
            </div>
        </div>
        <div class="col-sm-9">
            <h4 class="name">{{ pokemonGetPokemonData(pokemonList.detail).species }}</h4>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Type</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-types">
                        <li ng-repeat="type in pokemonGetPokemonData(pokemonList.detail).types" class="pokemon-type {{ type | lowercase }}">
                            {{ type }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Abilities</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-abilities">
                        <li ng-repeat="ability in pokemonGetPokemonData(pokemonList.detail).abilities" class="pokemon-ability">
                            <span class="ability-label" popover="{{ pokemonGetAbilityData(ability).desc }}" popover-trigger="mouseenter" popover-placement="bottom">{{ ability }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Moves</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-moves">
                        <li class="pokemon-move">
                            <select chosen id="pokemon-{{pokemonList.detail}}-learnsets-0" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].learnset[0]" ng-options="key as key for (key, value) in pokemonGetLearnsetData(pokemonList.detail).learnset" data-placeholder="Choose a move"></select>
                        </li>
                        <li class="pokemon-move">
                            <select chosen id="pokemon-{{pokemonList.detail}}-learnsets-1" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].learnset[1]" ng-options="key as key for (key, value) in pokemonGetLearnsetData(pokemonList.detail).learnset" data-placeholder="Choose a move"></select>
                        </li>
                        <li class="pokemon-move">
                            <select chosen id="pokemon-{{pokemonList.detail}}-learnsets-2" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].learnset[2]" ng-options="key as key for (key, value) in pokemonGetLearnsetData(pokemonList.detail).learnset" data-placeholder="Choose a move"></select>
                        </li>
                        <li class="pokemon-move">
                            <select chosen id="pokemon-{{pokemonList.detail}}-learnsets-3" class="form-control" ng-model="pokemonList.pokemon[pokemonList.detail].learnset[3]" ng-options="key as key for (key, value) in pokemonGetLearnsetData(pokemonList.detail).learnset" data-placeholder="Choose a move"></select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row data-section">
        <div class="col-sm-6">
            <h5>Damage</h5>
        </div>
        <div class="col-sm-6">
            <h5>Stats</h5>
            <highchart id="chart-pokemon-stats" config="chartPokemonStats"></highchart>
        </div>
    </div>
</div>
