<div ng-if="pokemonList.currentSelection !== null && !isEmpty( pokemonList.pokemon[pokemonList.currentSelection] )" class="pokemon-list-item-detail">
    <div class="row">
        <div class="col-sm-3">
            <div class="vertical-align img-pokemon-wrapper">
                <div class="vertical-align-middle">
                    <img ng-src="{{ config.pokeSpritesSource + pokemonList.pokemon[pokemonList.currentSelection].species + '.gif' | lowercase }}" class="img-pokemon">
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <h4 class="name">{{ pokemonList.pokemon[pokemonList.currentSelection].species }}</h4>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Type</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-types">
                        <li ng-repeat="type in pokemonList.pokemon[pokemonList.currentSelection].types" class="pokemon-type {{ type | lowercase }}">
                            {{ type }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Abilities</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-abilities">
                        <li ng-repeat="ability in pokemonList.pokemon[pokemonList.currentSelection].abilities" class="pokemon-ability">
                            <span class="ability-label">{{ ability }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row data-section">
                <div class="col-sm-3">
                    <h5>Moves</h5>
                </div>
                <div class="col-sm-9">
                    <ul class="list-unstyled list-inline list-moves">
                        <li class="pokemon-move">
                            <span class="move-label">Select</span>
                        </li>
                        <li class="pokemon-move">
                            <span class="move-label">Select</span>
                        </li>
                        <li class="pokemon-move">
                            <span class="move-label">Select</span>
                        </li>
                        <li class="pokemon-move">
                            <span class="move-label">Select</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row data-section">
        <div class="col-sm-6">
            <h5>Damage</h5>
        </div>
        <div class="col-sm-6">
            <h5>Stats</h5>
            <highchart id="chart-pokemon-stats" config="chartPokemonStats"></highchart>
        </div>
    </div>
</div>
