<div ng-if="isEmpty( pokemonList.pokemon[$index] )" class="pokemon-list-item">
    <form>
        <div class="form-group">
            <label class="control-label sr-only">Pokémon</label>
            <select chosen id="pokemon-select-{{ $index }}" class="form-control" ng-model="pokemonList.pokemon[$index]" ng-options="value as value.species for (key, value) in pokedex" data-placeholder="Choose a Pokémon">
            </select>
        </div>
    </form>
</div>

<div ng-if="!isEmpty( pokemonList.pokemon[$index] )" class="pokemon-list-item">
    <div class="row">
        <div class="col-sm-6">
            <div class="vertical-align img-pokemon-wrapper" ng-click="pokemonView($index)">
                <div class="vertical-align-middle">
                    <img ng-src="{{ config.pokeSpritesSource + pokemonList.pokemon[$index].species + '.gif' | lowercase }}" class="img-pokemon">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5 class="name">{{ pokemonList.pokemon[$index].species }}</h5>
            <ul class="list-unstyled list-inline list-types">
                <li ng-repeat="type in pokemonList.pokemon[$index].types" class="pokemon-type {{ type | lowercase }}">
                    {{ type }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="action" aria-label="Remove" ng-click="pokemonRemove($index)"><i class="fa fa-close"></i> Remove</button>
        </div>
    </div>
</div>
