<div class="text-right">
  <button type="button" class="btn btn-default" ng-click="showTotalEffectiveness = true; pokemonList.detail = null"><i class="fa fa-bar-chart fa-fw"></i> Total Effectiveness</button>
  &nbsp;
  <button type="button" class="btn btn-default" ng-click="toggleExport()"><i class="fa fa-download fa-fw"></i> Export</button>
</div>

<div ng-if="showExport">
  <pre>{{ pokemonList.pokemon | json }}</pre>
</div>

<div class="row dashboard">
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
        <div ng-repeat-start="pokemon in pokemonList.pokemon" class="col-sm-6">
          <poke-list-item></poke-list-item>
        </div>
        <div class="clearfix" ng-if="$index % 2 === 1"></div>
        <div ng-repeat-end=""></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <poke-total-effectiveness></poke-total-effectiveness>
      <poke-list-item-detail></poke-list-item-detail>
    </div>
  </div>
</div>
