<div class="row dashboard">
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
        <div ng-repeat-start="pokemon in pokemonList.pokemon" class="col-sm-6">
          <poke-list-item></poke-list-item>
        </div>
        <div class="clearfix" ng-if="$index % 2 === 1"></div>
        <div ng-repeat-end=""></div>
      </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="exportOption = true"><i class="fa fa-download fa-fw"></i> Export</button>
  </div>
  <div class="col-sm-6">
    <div class="well" ng-if="pokemonList.detail !== null">
      <poke-list-item-detail></poke-list-item-detail>
    </div>
  </div>
</div>

<div ng-if="exportOption === true">
  <pre>{{ pokemonList | json }}</pre>
</div>
